@import "../../sass/helper";

.userInfo {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.userName {
  color: $--title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.userPosition {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
}
