$--title-color: #000;
$--main-color: #292d32;
$--secondary-color: #b5b7c0;
$--navigation-color: #9197b3;
$--navigation-active-color: #fff;
$--accent-color: #5932ea;
$--members-color: #16c098;
$--active-color: #008767;
$--active-bg-color: #16c09893;
$--inactive-color: #df0404;
$--inactive-bg-color: #ffc5c5;
$--body-color: #fafbff;
$--input-bg: #f9fbff;
